<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/views/profile.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
    <title>Contact Profile</title>
</head>
<body>

<div class="container">
    <header class="hero">
        <a href="/home">
            <i  class="fas fa-chevron-circle-left back-btn"></i>
        </a>
        <div class="user-info">
            <h1 class="name"><%= person.name %></h1>
            <p  class="relationship">Friend</p>
        </div>
        <div class="profilePic">
            <% if(person.img == 'newContact.png') { %>
                <img src="/views/<%= person.img %>" id="picture" alt="profile-pic">
            <% } else { %>
                <img src="/uploads/<%= person.img %>" id="picture" alt="profile-pic">
            <% } %>
        </div>
    </header>
    <section class="contact-info">
        <div class="information">
            <i class="fas fa-sms icon-gradient"></i>
            <p class="message">Send Message</p>
        </div>
        <div class="information">
            <i id="video_chat" class="fas fa-video icon-gradient"></i>
            <p class="address">Video chat</p>
        </div>
        <div class="information">
            <i class="fas fa-phone icon-gradient"></i>
            <p class="phone-number"><%= person.phone %></p>
        </div>
        <div class="information">
            <i class="fas fa-envelope icon-gradient"></i>
            <p class="email"><%= person.email %></p>
        </div>
    </section>
    <div class="dropup">
        <button class="dropbutton">Settings</button>
        <div class="dropup-content">
            <a href="/user_profile/delete/<%= person._id %>" >Delete Contact</a>
            <a href="merge_contact.html">Merge Contact</a>
        </div>
    </div>
</div>
</body>
</html>

